# APP
API_VERSION=1.0.0
API_VERSION_PREFIX=api/v1
API_TITLE=Libraflux API.
API_DESCRIPTION=Libraflux Scraping data flow.
DEBUG=True
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# LOGGING
LOG_LEVEL=INFO

# JWT
JWT_SECRET_KEY=yourkey
ACCESS_TOKEN_EXPIRE_MINUTES=10080
JWT_ALGORITHM=youralg

# ADMIN
ADMIN_EMAIL="admin@admin.com"
ADMIN_NAME="administrator"
ADMIN_PASSWORD="admin123"
ADMIN_ROLE="ROOT"

# DATABSE
DATABASE_URL=yourdb

# SCRAPING
URL_TO_SCRAPE=https://books.toscrape.com/
